
@{
    ViewBag.Title = "Detail";
}

<div class="container">
    <table class="table">
        <tr>
            <th>
                User
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Created
            </th>
            <th>
                Link
            </th>
        </tr>

        @foreach (var link in ViewBag.UserLinks)
        {
            <tr>
                <td>
                    <a href="/u/@link.UserName">@link.UserName</a>
                </td>
                <td>
                    @link.Title
                </td>
                <td>
                    @link.Description
                </td>
                <td>
                    @link.Created
                </td>
                <td>
                    <a href="/l/@link.ShortUrl">/l/@link.ShortUrl</a>
                </td>
            </tr>
        }

    </table>
</div>